@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans';

  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;    

  color-scheme: pink;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d1a5dd;


}

body{
  margin: 0;
  padding: 0;
  /*color: purple;---faster wr color access---
  /*background-color: green;---fester color access---*/
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar{
width: 0.25rem;
}

body::-webkit-scrollbar-track{
background: black;
}

body::-webkit-scrollbar-thumb{
background: red;
}

body::-webkit-scrollbar-button{
background: blue;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #000000aa);
}

.logotik{
  height: 2.5em;
  padding: 10em;
  will-change: filter;
  transition: filter 300ms;
}

.logotik:hover{
  filter: drop-shadow(0 0 2em black);
}

.logoinsta{
  height: 2.5em;
  padding: 10em;
  will-change: filter;
  transition: filter 300ms;
}

.logoinsta:hover{
  filter: drop-shadow(0 0 2em black);
}

main{
  margin-left: 5rem;
  padding: 1rem;
}

header{
  padding: 1rem;
  background: #eab6eb;
  margin-bottom: 1rem; 
  /*margin-left: 5rem;*/
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

.navbar{
  transition: width 600ms ease;
  
  background-color: var(--bg-primary);
  position: fixed;
  z-index: 10;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;   
}

.nav-item:last-child{
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items:center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}


.nav-itemlogo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.itemlogo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}




  /* SMALL SCREEN*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .itemlogo{
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main{
    margin: 0;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .itemlogo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .itemlogo-text
  {
    left: 0px;
  }
}


.card-list{
  display: flex;
  padding: 3rem;
}

.card{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 250px;
  width: 200px;
  min-width: 100px;
  padding: 1.5rem;

  border-radius: 16px;
  background: green;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}

.card:hover{
  transform: translateY(-1rem);
}

.card:hover~.card{
  transform: translateX(130px);
}

.card:not(:first-child){
  margin-left: -130px;
}